@model CustomerAndAppointmentProject.Models.UserEntity

@{
    ViewData["Title"] = "Delete";
    bool admin = false;
    if (ViewData["admin"] != null)
    {
        admin = (bool)ViewData["admin"];
    }
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this user?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fullname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fullname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger btn-sm" /> 
        @if (admin)
        {
            @Html.ActionLink("Back to List", "Users",
            new {},
        new { @class = "btn btn-primary btn-sm" })
        }
        else
        {
            @Html.ActionLink("Back to Profile", "User",
        new { email=Model.Email },
        new { @class = "btn btn-primary btn-sm" })
        }
    </form>
</div>
