@model IEnumerable<CustomerAndAppointmentProject.Models.AppointmentEntity>

@{
    ViewData["Title"] = "PatientAppointments";
}

<h1>Your Appointments</h1>

<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fullname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                    @Html.ActionLink("Edit", "EditAppointment",
                new { id=item.Id },
                new { @class = "btn btn-primary btn-sm" })
                @Html.ActionLink("Delete", "DeleteAppointment", 
                new { id=item.Id },
                new { @class = " btn btn-danger btn-sm"})
            </td>
        </tr>
}
    </tbody>
</table>
